.env
beets/.config/beets/library.db
beets/.config/beets/spotify_token.json
beets/.config/beets/state.pickle
yazi/.config/yazi/plugins/yatline-catppuccin.yazi
docker/dockge/data/
btop/.config/btop/btop.log
