.env
beets/.config/beets/library.db
beets/.config/beets/spotify_token.json
beets/.config/beets/state.pickle
yazi/.config/yazi/plugins/yatline-catppuccin.yazi
docker/dockge/data/
btop/.config/btop/btop.log
aichat/.config/aichat/rags
bin/.local/bin/naviterm
bin/.local/bin/numba
bin/.local/bin/beet
bin/.local/bin/unidecode
bin/.local/bin/filetype
